body{
 width: 50vw;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF3E6;

}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
        display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2.vermelho{
    color:#E74C3C ;
    background-color: #F9EBEA;
    font-size: 28px;
}

h2.h2verde{
    color: #27AE60;
    background-color:#E9F7EF ;
    font-size: 28px;
}

h2.h2laranja{
    color:#F39C12 ;
    background-color: #FFF3E6;
    font-size: 28px;
}

h2.h2roxo{
    color: #8E44AD;
    background-color:#F5E6F5 ;
}

h1#t1{
    color: rgb(#2C3E50);
    background-color:#ECF0F1 ;
    font-size: 36px;
    display: block;
    font-size: 36px;
  
    

}



p{
        font-size: 1em;
    color: #34495e;
    text-align: justify;
    line-height: 1.4;
}

h1#verde{
    color: #27AE60;
    background-color:#E9F7EF ;
    font-size: 36px;
    text-align: center;

}

h1#laranja{
    color:#F39C12 ;
    background-color: #FFF3E6;
    font-size: 36px;
    text-align: center;

}

h1#roxo{
    color: #8E44AD;
    background-color:#F5E6F5 ;
    font-size: 36px;
    text-align: center;

}